Title: Release Notes
Order: 2
ShowRightSidebar: false
ShowEditLink: true
EditLink: https://github.com/spectresystems/ghostly/edit/master/release-notes.json
Description: Release notes for Ghostly
---

@{
    var definition = Context.Outputs
    .FromPipeline(nameof(ReleaseNotesPipeline))
    .First()
    .GetChildren("ReleaseNotes")
    .OfType<ObjectDocument<ReleaseNotes>>()
    .First().Object;
}

@foreach (var item in definition.Releases.OrderByDescending(x => x.Version))
{
    <h2>Ghostly @item.Version.ToString(3) <small class="float-right">@item.Date</small></h2>
    <table class="table table-borderless">
    <tbody>
    @foreach (var entry in item.Entries.OrderBy(x => x.SortOrder))
    {
        <tr>
            <td width="80" style="padding-left: 0;">
                @if(entry.Kind == "feature") {
                    <span class="badge badge-primary">New feature</span>
                }
                else if (entry.Kind == "improvement") {
                    <span class="badge badge-success">Improved</span>
                }
                else if (entry.Kind == "bug") {
                    <span class="badge badge-danger">Fixed</span>
                }
            </td>
            <td>
                <span>@Html.Raw(entry.Description.Replace("\\n", "<br />"))</span>
                @if(!string.IsNullOrEmpty(entry.Author)) 
                {
                    <br />
                    <small>
                        Thanks to 
                        <a href="https://github.com/@entry.AuthorGitHub">@entry.Author</a> who 
                        
                        @if(entry.Kind == "bug") {
                            <span>reported</span>
                        } else {
                            <span>suggested</span>
                        }
                        
                        this!
                    </small>
                }
            </td>
            <td>
                @if(!string.IsNullOrWhiteSpace(entry.Link)) 
                {
                    <span class="float-right">
                        @if(entry.Link.StartsWith("https://twitter.com")) {
                            <a href="@entry.Link"><i class="fab fa-twitter"></i></a>
                        } else if(entry.Link.StartsWith("https://github.com")) {
                            <a href="@entry.Link"><i class="fab fa-github"></i></a>
                        } else {
                            <a href="@entry.Link"><i class="fas fa-link"></i></a>
                        }
                        
                    </span>
                }
            </td>
        </tr>
    }
    </tbody>
    </table>

    <hr />
}
